* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
:root {
  --main-color: #10cab7;
  --secondary-color: #2c4755;
  --section-padding: 60px;
  --section-background: #f6f6f6;
}
body {
  font-family: work sans, sans-serif;
}
.Container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
/* Small */
@media (min-width: 768px) {
  .Container {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .Container {
    width: 970px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .Container {
    width: 1170px;
  }
}
/* start header */
.header .logo {
  width: 60px;
}
.header {
  padding: 10px;
}
.header .Container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .links  {
  position: relative;
}
.header .links:hover .icon span:nth-child(2) {
  width: 100%;
}
 .header .links .icon {
  width: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}
 .header .links .icon span{
  background-color: #333;
  margin-bottom: 5px;
  height: 2px;
}

.header .links .icon span:first-child {
  width: 100%;
}
.header .links .icon span:nth-child(2) {
  width: 60%;
  transition: 0.3s;
}
.header .links .icon span:last-child {
  width: 100%;
}
.header .links  ul {
  list-style: none;
  background-color: #f6f6f6;
  display: none;
  min-width: 200px;
  top: calc(100% + 20px);
  position: absolute;
  right: 0;
  transition: 1s;
  padding: 0;
  margin: 0;
  z-index: 1;
}
.header .links ul::before {
    content: "";
    border-color: transparent transparent #f6f6f6 transparent;
    border-style: solid;
    border-width: 10px;
    position: absolute;
    top: -19px;
    right: 5px;
}
.header .links:hover ul {
  display: block;
}
.header .links  ul li {
  position: relative;
  transition: 0.5s;
}
.header .links  ul li:hover a {
  transition: 0.5s;
  margin-left: 20px;
}
.header .links ul a {
  text-decoration: none;
  transition: 0.5s;
  display: block;
  color: #333;
  padding: 20px;
  font-size: 18px;
}
.header .links  ul li:not(:last-child) {
  border-bottom: 1px solid #ddd;
}
/* End Header  */
/* Start Landing */
.Landing {
  background-image: url(../images/amein-shareef77-3a2erbNb3qo-unsplash.jpg);
  background-size: cover;
  height: calc(100vh - 80px);
  position: relative;
}
.Landing .Text-Landing {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 320px;
  max-width: 100%;
  text-align: center;
}
.Landing .Text-Landing h1 {
  margin: 0;
  font-size: 50px;
  font-weight: bold;
  color: var(--main-color);
}
.Landing .Text-Landing p {
  font-size: 19px;
  line-height: 1.8;
  font-size: 18px;
}
/* end landing */
/* Start Features */
.features {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background-color: var(--section-background);
}
.features .Container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px ,1fr));
  gap: 30px;
}
.features .feat {
  text-align: center;
}
.features .feat i {
  color: var(--main-color);
}
.features .feat h3 {
  font-weight: 800;
}
.features .feat p{
  color: #777;
  margin-top: 25px;
}
/* end features*/
/* start services */
.services {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}
.special-heading {
  font-size: 80px;
  font-weight: bold;
  color: #444;
  Opacity: 0.1;
  padding: 0;
  text-align: center;
}
.special-heading + p {
  margin-bottom: 22px;
  color: #444;
  margin-top: -80px;
  text-align: center;
}
@media (max-width: 768px) {
  .special-heading {
    font-size: 50px;
  }
  .special-heading + p {
    font-size: 10px;
    margin-top: -50px;
  }
}
.services .services-content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px , 1fr));
  gap: 30px;
  margin-top: 100px;
  margin-bottom: 100px;
}
.services .services-content .srv {
  display: flex;
  margin-bottom: 55px;
}
@media (max-width: 768px) {
  .services .services-content .srv {
    text-align: center;
    flex-direction: column;
    align-items: center;
  }
}
.services .services-content .srv i {
  flex-basis: 60px;
  color: var(--main-color);
}
.services .services-content .srv .text {
  flex: 1;
}
.services .services-content .srv .text h3 {
  margin: 0
}
.services .services-content .srv .text p {
  color: #444;
  font-weight: 300;
  line-height: 1.6;
}
.services .services-content .img{
  position: relative;
  text-align: center;
}
.services .services-content .img img {
  width: 260px;
}
.services .services-content .img::after {
  content: "";
  position: absolute;
  background-color: var(--secondary-color);
  top: -50px;
  right: 0;
  height: calc(100% + 100px);
  width: 100px;
  z-index: -1;
}
@media (max-width: 1199px) {
  .column-img {
    display: none;
  }
}
/* end services */
/* Start Portfolio */
.portfolio {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background-color: var(--section-background);
}
.portfolio .portfolio-content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px , 1fr));
  gap: 30px;
  margin-top: 100px;

}
.portfolio .portfolio-content .card {
  background-color: white;
  cursor: pointer;
  transition: 0.5s;
  border: solid white 5px;
}
.portfolio .portfolio-content .card:hover {
  background-color: #e4e4e4;
  margin: -10px;
  border: solid #e4e4e4 10px;
  transform: translateY(20px);
}
.portfolio .portfolio-content .card img {
  width: 100%;
}
.portfolio .portfolio-content .info {
  padding: 20px;
}
.portfolio .portfolio-content .info h3 {
  margin: 0;
}
.portfolio .portfolio-content .info p {
  color: #444;
  font-weight: 300;
  line-height: 1.6;
  margin-bottom: 0;
  width: 300px;
}
/* end Portfolio */
/* start About */
.about {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}
.about .about-content {
  margin-top: 130px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.about .about-content .img {
  position: relative;
  width: 250px;
  height: 375px;
}
.about .about-content .img::before {
  content: "";
  position: absolute;
  background-color: #ebeced;
  width: 100px;
  height: calc(100% + 80px);
  top: -40px;
  left: -20px;
  z-index: -1
}
.about .about-content .img::after {
  top: -40px;
  content: "";
  position: absolute;
  width: 120px;
  height: 300px;
  border-left: 80px solid var(--main-color);
  border-bottom: 80px solid var(--main-color);
  right: -150px;
  z-index: -2;

}
.about .about-content img {
  max-width: 100%;
}
.about .about-content .text {
  flex: 1;
  max-width: 500px;
}
.about .about-content .text p:first-child {
  margin-top: 0;
  margin-bottom: 45px;
  font-weight: bold;
  line-height: 2
}
.about .about-content .text hr {
  border-color: var(--main-color);
  width: 50%;
  display: inline-block;
}
.about .about-content .text p:last-child {
  line-height: 1.6; 
  color: #777;
}

@media (max-width: 991px) {
  .about .about-content {
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 100px;
    padding: 10px;
  }
  .about .about-content .img{
    display: none;
  }
}
/* end About */
/* start Contact */
.contact {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background-color: var(--section-background);
}
.contact .about-content {
   padding-top: var(--section-padding);
   padding-bottom: var(--section-padding);
   margin-right: 13%
}
.contact .about-content .label {
  color: var(--secondary-color);
  font-weight: bold;
  font-size: 50px;
  text-align: center;
}
.contact .about-content .link {
  color: var(--main-color);
  font-weight: bold;
  font-size: 50px;
  display: block;
  text-align: center;
  margin-top: -4%;
  text-decoration: none;
}
@media (max-width: 767px) {
  .contact .about-content .label,
  .contact .about-content .link {
    font-size: 20px;
  }
}
.contact .about-content .social {
  display: flex;
  text-align: center;
  margin-top: 4%;
  justify-content: center;
  font-size: 14px;

}
.contact .about-content .social i {
  margin-left: 5px;
  font-size: 19px;
}
/* end Contact */
.footer {
  background-color: var(--secondary-color);
  text-align: center;
  padding: 35px;
  color: white;
}
.footer span {
  color: var(--main-color);
}



